div.group-container {
  min-height: 938px;
}

div.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
div.osc-width {
  min-width: 280px;
}
.enter-animation {
  opacity: 0;
  animation: fade-in 0.5s;
}

.leaving-animation  {
  opacity: 1;
  animation: fade-out 0.5s;
}
label:first-child input[type=checkbox] {
  border-radius: 0.5em 0.5em 0.5em 0.5em;
}

