<div #html
     class="options">
  <div class="metallic-button">
    <h2>Select Synthesiser</h2>
    <button [disabled]="selectedConfig!==''" (click)="selectLastConfig()">Last Config</button>
    <h2>Select saved configuration</h2>
    <select #configOptions [(ngModel)]="selectedConfig">
      <option value="">Select configuration or click Last Config</option>
      @for(fileName of configFileList; track fileName; let idx = $index) {
        <option [value]="idx+1">{{fileName}}</option>
      }
    </select>
    @if(!_confirmDelete && !_confirmRename) {
      <button class="load-config" [disabled]="selectedConfig===''" (click)="loadSelectedConfig()">Load Selected Configuration</button>
      <button class="delete-config" [disabled]="selectedConfig===''"  (click)="confirmDelete()">Delete Selected Configuration</button>
      <button class="rename-config" [disabled]="selectedConfig===''"  (click)="confirmRename()">Rename Selected Configration</button>
    } @else if (!_confirmRename) {
      Delete {{fileName()}}, are you sure?
      <button class="delete-config" (click)="delete()">Delete</button>
      <button (click)="cancel()">Cancel</button>
    } @else if (!_confirmDelete){
      <div class="rename">
        <label for="newName">New name</label>
        <input id="newName" [(ngModel)]="newName" autocomplete="off" placeholder="new config file name">
      </div>
      <button [disabled]="!configFileNameRegex.test(newName)" (click)="commitRename()">Confirm rename</button>
      <button (click)="cancel()">Cancel</button>
    }
    @if(successMessage !== "") {
      <div class="success" (click)="successMessage=''">{{successMessage}}</div>
    } @else if(errorMessage !== "") {
      <div class="failed" (click)="errorMessage=''">{{errorMessage}}</div>
    }
  </div>
</div>
