<div #html
     class="options">
  <div class="metallic-button">
    <h2>Select Synthesiser Type</h2>
    <button #polyBtn value="poly" (click)="synthTypeChange($event)">Polyphonic</button>
    <button #monoBtn value="mono" (click)="synthTypeChange($event)">Monophonic</button>
    <h2>Select saved configuration</h2>
    <select #configOptions [(ngModel)]="selectedConfig">
      <option value="">Select configuration or Polyphonic or Mono synth</option>
      @for(fileName of configFileList; track fileName; let idx = $index) {
        <option [value]="idx+1">{{fileName}}</option>
      }
    </select>
    @if(!_confirmDelete && !_confirmRename) {
      <button class="load-config" #loadSelectedConfigBtn (click)="loadSelectedConfig()">Load Selected Configuration</button>
      <button class="delete-config" #deleteSelectedConfigBtn (click)="confirmDelete()">Delete Selected Configuration</button>
      <button class="rename-config" #renameSelectedConfigBtn (click)="confirmRename()">Rename Selected Configration</button>
    } @else if (!_confirmRename) {
      Delete {{fileName()}}, are you sure?
      <button class="delete-config" (click)="delete()">Delete</button>
      <button (click)="cancel()">Cancel</button>
    } @else if (!_confirmDelete){
      <div class="rename">
        <label for="newName">New name</label>
        <input id="newName" [(ngModel)]="newName">
      </div>
      <button [disabled]="!configFileNameRegex.test(newName)" (click)="commitRename()">Confirm rename</button>
      <button (click)="cancel()">Cancel</button>
    }
  </div>
</div>
