div.options {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
 justify-content: center;
  > div {
    text-align: center;
    > h2:last-of-type {
      margin-top: 30px;
    }
    > select {
      &:has(option[value=""]:checked) {
        color: gray;
      }
      > option {
        color: black;
        &:first-of-type {
          color: gray;
        }
      }
      background-size: 10%;
      width: 400px;
    }
  }
  max-width: 480px;
  z-index: -1;
}

button.load-config {
  width: 200px;
}

button.delete-config {
  margin-top: 40px;
  background: #f35e5e;
  width: 200px;
}
