<div #html
     class="options">
  <div class="metallic-button">
    <h2>Select Synthesiser Type</h2>
    <button #polyBtn value="poly" (click)="synthTypeChange($event)">Polyphonic</button>
    <button #monoBtn value="mono" (click)="synthTypeChange($event)">Monophonic</button>
    <h2>Select saved configuration</h2>
    <select #configOptions [(ngModel)]="selectedConfig">
      <option value="">Select configuration or Polyphonic or Mono synth</option>
      @for(fileName of configFileList; track fileName; let idx = $index) {
        <option [value]="idx+1">{{fileName}}</option>
      }
    </select>
    <button #confirmSelectedConfigBtn (click)="confirmSelectedConfig()">Confirm Selection</button>
  </div>
</div>
