<div>

  <div class="column">
    @if (carrierNum === 0) {
      <h3 class="modulator-label">{{ modulatorNum + 1 }}</h3>
    }
    <div class="row">
      @if (modulatorNum === 0) {
        <h3 class="carrier-label">{{ carrierNum + 1 }}</h3>
      }
      <div>
        <app-level-control #level
                           [label]="'Level'"
                           [style]="dialStyle"
                           [radius]="50"
                           [divisions]="10"
                           [factor]="3"
                           (setLevel)="setModLevel($event)"></app-level-control>
      </div>
    </div>
  </div>
  <form #modSelect>
    <label><input type="checkbox" name="output" value="amplitude"><span>AM</span></label>
    <label><input type="checkbox" name="output" value="frequency"><span style="padding-left: -10px;">FM</span></label>
  </form>
</div>
