div.options {
  > div {
    width: 100%;
    height: 100%;
    text-align: center;
    > h2:last-of-type {
      margin-top: 30px;
    }
    > select {
      &:has(option[value=""]:checked) {
        color: gray;
      }
      > option {
        color: black;
        &:first-of-type {
          color: gray;
        }
      }
      background-size: 10%;
      width: 400px;
    }
  }
  max-width: 480px;
  z-index: -1;
}
