div.analyser {
  position: relative;

  > app-analyser {
    position: absolute;
  }
}

@mixin scrollable-window {
  height: 979px;
  overflow: hidden;
  > div {
    width: 200px;
    top: 930px;
    left: 300px;
    position: absolute;
  }
}

div.oscillator-window {
  min-width: 591.11px;
  @include scrollable-window();
}

div.filter-window {
  min-width: 525.51px;
  @include scrollable-window();
}

div.reverb-row {
  display: flex;
  flex-direction: row;
}

div.analyser {
  position: relative;
  > app-analyser {
    position: absolute;
    top: -249px;
  }
}
