div.analyser {
  position: relative;
  > app-analyser {
    position: absolute;
  }
}
div.home-button {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 3;
  > button {
    width: 50px;
  }
}
