<div #synth>
  <div class="home-button">
    <button class="material-icons" (click)="showHomeForm()">home</button>
  </div>
  <div style="display: flex; flex-direction: row">
    <div #oscillatorWindow class="oscillator-window">
      @for (osc of _oscillatorParams; let i = $index; track osc) {
        <app-oscillators [oscNumber]="i"
                         [params]="_oscillatorParams[i]"
                         [filters]="filtersGrp?.get(i)"
                         [ringMod]="ringMod"
                         [reverb]="reverb"
                         [phaser]="phaser"
                         (output)="setOscOutputTarget($event, i)">
        </app-oscillators>
      }
      <div>
        <form #oscillatorSelectForm>
          <label><input type="radio" name="oscillatorSelect" value="1"><span>1</span></label>
          <label><input type="radio" name="oscillatorSelect" value="oscilloscope"><span>2</span></label>
        </form>
      </div>
    </div>
    <div #filterWindow>
      @for (filter of _oscillatorParams; let i = $index; track filter) {
        <app-filters #filters
                     [filterNumber]="i"
                     [ringMod]="ringMod"
                     [reverb]="reverb"
                     [phaser]="phaser"
                     (output)="setFilterOutputTarget($event, i)"></app-filters>

      }
    </div>
    <div class="analyser">
        <app-noise [filters]="filtersGrp?.get(0)"
                   (output)="setNoiseOutputTarget($event)">
        </app-noise>
    </div>
    <app-ring-modulator #ringMod
                        [filters]="filtersGrp?.get(0)"
                        [reverb]="reverb"
                        (output)="setRingModOutPutTarget($event)">
    </app-ring-modulator>
    <app-analyser></app-analyser>
  </div>
  <div style="display: flex; flex-direction: row">
    <app-reverb-component #reverb
                          (output)="setReverbOutputTarget($event)">
    </app-reverb-component>
    <app-phaser #phaser
                (output)="setPhasorOutputTarget($event)">
    </app-phaser>
    <app-general #general></app-general>
  </div>
</div>

