<div #synth>
  <div style="display: flex; flex-direction: row">
    <div #oscillatorWindow class="oscillator-window">
      @for (osc of _oscillatorParams; let i = $index; track osc) {
        <app-oscillators [oscNumber]="i"
                         [params]="_oscillatorParams[i]"
                         [filters]="filtersGrp?.get(i)"
                         [ringMod]="ringMod"
                         [reverb]="reverb"
                         [phaser]="phaser"
                         (output)="setOscOutputTarget($event, i)">
        </app-oscillators>
      }
    </div>
    <div #filterWindow class="filter-window">
      @for (filter of _oscillatorParams; let i = $index; track filter) {
        <app-filters [filterNumber]="i"
                     [ringMod]="ringMod"
                     [reverb]="reverb"
                     [phaser]="phaser"
                     (output)="setFilterOutputTarget($event, i)">
        </app-filters>
      }
    </div>
    <app-matrix [oscillators]="oscillatorsGrp" [selectOperator]="signalSelectOperator"></app-matrix>
    <div class="analyser">
        <app-noise [filters]="filtersGrp?.get(0)"
                   (output)="setNoiseOutputTarget($event)">
        </app-noise>
    </div>
    <app-ring-modulator #ringMod
                        [filters]="filtersGrp?.get(0)"
                        [reverb]="reverb"
                        (output)="setRingModOutPutTarget($event)">
    </app-ring-modulator>
  </div>
  <div style="display: flex; flex-direction: row">
    <app-reverb-component #reverb
                          (output)="setReverbOutputTarget($event)">
    </app-reverb-component>
    <app-phaser #phaser
                (output)="setPhasorOutputTarget($event)">
    </app-phaser>
    <app-general #general></app-general>
    <app-analyser></app-analyser>
  </div>
</div>

