div.analyser {
  position: relative;
  > app-analyser {
    position: absolute;
  }
}

div.oscillator-window {
  height: 979px;
  overflow: hidden;
  > div {
    width: 200px;
    top: 930px;
    left:300px;
    position: absolute;
  }
}
