<div #general class="group-container metallic-button general-height">
  <h1>General</h1>
  <div class="group">
    <div class="column">
      <div class="module general-width">
        <app-level-control #masterVolume label="Master Level" [style]="dialStyle.magenta" [divisions]="10"
                           [calAngle]="300"
                           [radius]="50" (setLevel)="setLevel($event)" [factor]="1">
        </app-level-control>
      </div>
      <div class="button-container module">
        <h2>Configuration</h2>
        <h4>{{proxySettings ? proxySettings.configFileName : ""}}</h4>
        <div class="general-width">
          @if (showConfigEditor) {
            <div #configEditor
                 [animate.enter]="animationEnter()"
                 [animate.leave]="animationLeave()"
                 class="group-container group metallic-button edit-configs">
              <div class="module column">
                <h2>Save Configuration</h2>
                @if (addConfigMode) {
                  <form class="save-config-form">
                    <div>
                      <label for="configFile">Enter Config File Name</label>
                      <input id="configFile" type="text" autocomplete="off" placeholder="config file name"
                             [ngModelOptions]="{standalone: true}" [(ngModel)]="configFileName"/>
                    </div>
                    <div>
                      <button (click)="cancel()">Cancel</button>
                      <button (click)="addConfiguration(configFileName)" [disabled]="!configFileNameRegex.test(configFileName)">Confirm</button>
                    </div>
                  </form>
                } @else if(_confirmOverwrite) {
                  <h4>
                    Update {{ configFileName }} configuration, Are you sure?
                  </h4>
                  <div>
                    <button (click)="cancel()">Cancel</button>
                    <button (click)="addConfiguration(configFileName, true)">Confirm</button>
                  </div>
                }
              </div>
              <div>
                <div></div>
              </div>
            </div>
          }
          @if (success) {
            <div (click)="failed=success=false" class="success">{{ configFileName }} saved successfully</div>
          } @else if (failed) {
            <div (click)="failed=success=false;" class="failed">Error: {{ errorMessage }}</div>
          } @else {
            <button id="manageConfig" (click)="manageConfigurations()">Save configuration</button>
          }
        </div>
      </div>
    </div>
  </div>
</div>

