<div #general class="group-container metallic-button master-volume-height">
  <h1>General</h1>
  <div class="group">
    <div class="column">
      <div class="module master-volume-width">
        <app-level-control #masterVolume label="Master Level" [style]="dialStyle.magenta" [divisions]="10"
                           [calAngle]="300"
                           [radius]="50" (setLevel)="setLevel($event)" [factor]="1">
        </app-level-control>
      </div>
      <div class="button-container module">
        <h2>Configuration</h2>
        <div class="master-volume-width">
          @if (showConfigEditor) {
            <div #configEditor
                 [animate.enter]="animationEnter()"
                 [animate.leave]="animationLeave()"
                 class="group-container group metallic-button edit-configs">
              <div class="module column">
                <h2>Configurations</h2>
                @if (!addConfigMode && !deleteConfigMode && !_confirmAddConfig && !_confirmRemoveConfig) {
                  <button (click)="addConfigMode=true" class="button">Save configuration</button>
                  <button (click)="deleteConfigMode=true; fileValueToDelete=''" class="button"> Delete configuration</button>
                } @else if (addConfigMode) {
                  <form class="save-config-form">
                      <div>
                        <label for="configFile">Enter Config File Name</label>
                        <input id="configFile" type="text" autocomplete="off" placeholder="config file name" [ngModelOptions]="{standalone: true}" [(ngModel)]="configFileName"/>
                      </div>
                      <div>
                        <button (click)="addConfigMode=false">Cancel</button>
                        <button (click)="confirmAddConfig()" [disabled]="configFileName===''">Confirm</button>
                      </div>
                  </form>
                } @else if(deleteConfigMode) {
                  <form class="save-config-form">
                    <div>
                      <select [ngModelOptions]="{standalone: true}" [(ngModel)]="fileValueToDelete" (change)="getSelectedFileName($event)">
                        <option value="">--Choose a file to delete</option>
                        <option value="1">File to delete</option>
                        <option value="2">Another file to delete</option>
                      </select>
                     </div>
                    <div>
                      <button (click)="deleteConfigMode=false">Cancel</button>
                      <button (click)="confirmDeleteConfig()" [disabled]="fileValueToDelete===''" >Confirm</button>
                    </div>
                  </form>
                } @else if(_confirmAddConfig) {
                  <h4>
                    Save configuration as {{configFileName}}, Are you sure?
                  </h4>
                  <div>
                    <button (click)="_confirmAddConfig=false">Cancel</button>
                    <button (click)="addConfiguration(configFileName)">Confirm</button>
                  </div>
                } @else if (_confirmRemoveConfig) {
                  <h4>
                    Remove {{fileToDelete}} from configurations, Are you sure?
                  </h4>
                  <div>
                    <button (click)="_confirmRemoveConfig=false">Cancel</button>
                    <button (click)="removeConfiguration(fileToDelete)">Confirm</button>
                  </div>
                }
              </div>
              <div>
                <div></div>
              </div>
            </div>
          }
          <button id="manageConfig" (click)="manageConfigurations($event)">Manage configurations</button>
        </div>
      </div>
    </div>
  </div>
</div>

