<div #general class="group-container metallic-button master-volume-height">
  <h1>General</h1>
  <div class="group">
    <div class="column">
      <div class="module master-volume-width">
        <app-level-control #masterVolume label="Master Level" [style]="dialStyle.magenta" [divisions]="10"
                           [calAngle]="300"
                           [radius]="50" (setLevel)="setLevel($event)" [factor]="1">
        </app-level-control>
      </div>
      <div class="button-container module">
        <h2>Configuration</h2>
        <div class="master-volume-width">
          @if (showConfigEditor) {
            <div #configEditor
                 [animate.enter]="animationEnter()"
                 [animate.leave]="animationLeave()"
                 class="group-container group metallic-button edit-configs">
              <div class="module column">
                <h2>Configurations</h2>
                @if (!addConfigMode && !deleteConfigMode) {
                  <button (click)="addConfigMode=true" class="button">Save configuration</button>
                  <button (click)="deleteConfigMode=true" class="button"> Delete configuration</button>
                } @else if (addConfigMode) {

                  <form class="save-config-form">
                      <div>
                        <label for="configFile">Enter Config File Name</label>
                        <input id="configFile" type="text" autocomplete="false" [ngModelOptions]="{standalone: true}" [ngModel]="configFileName"/>
                      </div>
                      <div>
                        <button (click)="addConfigMode=false">Cancel</button>
                        <button>Confirm</button>
                      </div>
                  </form>
                }
              </div>
              <div>
                <div></div>
              </div>
            </div>
          }
          <button id="manageConfig" (click)="manageConfigurations($event)">Manage configurations</button>
        </div>
      </div>
    </div>
  </div>
</div>

