.module {
  > h2 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
  }
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  border: solid 1px gray;
  border-radius: 10px;
  margin: 3px;
}
.column {
  //border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  height: fit-content;
}

.align-mod {
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
}

.group-container {
  > h1,h2 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
  }
  width: fit-content;
  height: fit-content;
  border: solid 2px black;
  border-radius: 10px;
}
.group {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.metallic-button {
  font-size: 14px;
  padding: 6px 16px;
  font-weight: 400;
  //border: none;
  outline: none;
  color: #000;
  background: linear-gradient(
      45deg,
      #999 5%,
      #fff 10%,
      #ccc 30%,
      #ddd 50%,
      #ccc 70%,
      #fff 80%,
      #999 95%
  );
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  border: solid 2px black;

  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  //cursor: pointer;
 // transition: all 0.2s ease-in-out;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --bg: #e3e4e8;
  --fg: #17181c;
  --transDur: 0.1s;
  font-size: calc(20px + (40 - 20)*(100vw - 320px)/(2560 - 320));
}
form {
  display: flex;
}
body, input {
  color: var(--fg);
  font: 1em/1.5 Helvetica, sans-serif;
}
body {
  background-color: var(--bg);
  background-image: linear-gradient(90deg,#0000003f,transparent);
  height: 100vh;
}
form, label {
  width: 100%;
}
form {
  margin: auto;
  max-width: 24em;
  padding: 0 1.5em;
}
label {
  display: block;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
label:first-child input {
  border-radius: 0.5em 0 0 0.5em;
  box-shadow:
    0.1em 0 0 #2726267f inset,
    -0.1em 0 0 #27262600 inset,
    0 0.1em 0 #afa490 inset,
    0 -0.1em 0 #ffffff3f,
    0 0.2em 0.5em #0000007f,
    0 -0.1em 0 #926086 inset,
    -0.1em -0.2em 0 #ffffff7f inset,
    0.2em 0 0 #ffffff7f inset;
}
label:last-child input {
  border-radius: 0 0.5em 0.5em 0;
  box-shadow:
    0 -0.1em 0 #926086 inset,
    0.1em 0 0 #2726267f inset,
    -0.1em 0 0 #2726267f inset,
    0 0.1em 0 #afa490 inset,
    -0.1em 0 0 #afa490 inset,
    0 -0.1em 0 #ffffff3f,
    0 0.2em 0.5em #0000007f,
    -0.1em -0.1em 0 0.1em #ffffff7f inset;
}
label:first-child input:checked {
  box-shadow:
    0.1em 0 0 #272626af inset,
    -0.1em 0 0 #272626 inset,
    0 0.1em 0 #847a62 inset,
    0 -0.1em 0 #ffffff3f,
    0 0.1em 0 #ffffff7f,
    0 -0.1em 0 #722257 inset,
    -0.1em -0.2em 0 #ffffff7f inset,
    0.2em 0 0 #ffffff7f inset;
}
label:last-child input:checked {
  box-shadow:
    0.1em 0 0 #272626af inset,
    -0.1em 0 0 #272626 inset,
    0 -0.1em 0 #722257 inset,
    0 0.1em 0 #847a62 inset,
    -0.1em 0 0 #847a62 inset,
    0 -0.1em 0 #ffffff3f,
    0 0.1em 0 #ffffff7f,
    -0.1em -0.1em 0 0.1em #ffffff7f inset;
}
input {
  background-image: linear-gradient(#ffffff 33%,#414751 58%,#837b52,#c5baa1,#c3adaa);
  border-radius: 0;
  box-shadow:
    0.1em 0 0 #2726267f inset,
    -0.1em 0 0 #27262600 inset,
    0 0.1em 0 #afa490 inset,
    0 -0.1em 0 #ffffff3f,
    0 0.2em 0.5em #0000007f,
    0 -0.1em 0 #926086 inset,
    -0.1em -0.2em 0 #ffffff7f inset;
  cursor: pointer;
  display: block;
  margin-bottom: 0.5em;
  width: 100%;
  height: 1em;
  transition: box-shadow var(--transDur) ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input:checked {
  background-image: linear-gradient(#ffffff 33%,#414751 58%,#827a7b,#c0b6ac,#c3adaa);
  box-shadow:
    0.1em 0 0 #272626af inset,
    -0.1em 0 0 #272626 inset,
    0 0.1em 0 #847a62 inset,
    0 -0.1em 0 #ffffff3f,
    0 0.1em 0 #ffffff7f,
    0 -0.1em 0 #722257 inset,
    -0.1em -0.2em 0 #ffffff7f inset;
}
input:checked + span {
  opacity: 1;
}
input:focus {
  outline: transparent;
}
input + span {
  opacity: 0.65;
  transition: opacity var(--transDur) ease-in-out;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #5c6270;
    --fg: #e3e4e8;
  }
  label:first-child input {
    box-shadow:
      0.1em 0 0 #2726267f inset,
      -0.1em 0 0 #27262600 inset,
      0 0.1em 0 #afa490 inset,
      0 -0.1em 0 #0000001f,
      0 0.2em 0.5em #0000007f,
      0 -0.1em 0 #926086 inset,
      -0.1em -0.2em 0 #ffffff7f inset,
      0.2em 0 0 #ffffff7f inset;
  }
  label:last-child input {
    box-shadow:
      0 -0.1em 0 #926086 inset,
      0.1em 0 0 #2726267f inset,
      -0.1em 0 0 #2726267f inset,
      0 0.1em 0 #afa490 inset,
      -0.1em 0 0 #afa490 inset,
      0 -0.1em 0 #0000001f,
      0 0.2em 0.5em #0000007f,
      -0.1em -0.1em 0 0.1em #ffffff7f inset;
  }
  label:first-child input:checked {
    box-shadow:
      0.1em 0 0 #272626af inset,
      -0.1em 0 0 #272626 inset,
      0 0.1em 0 #847a62 inset,
      0 -0.1em 0 #0000007f,
      0 0.1em 0 #0000007f,
      0 -0.1em 0 #722257 inset,
      -0.1em -0.2em 0 #ffffff7f inset,
      0.2em 0 0 #ffffff7f inset
  }
  label:last-child input:checked {
    box-shadow:
      0.1em 0 0 #272626af inset,
      -0.1em 0 0 #272626 inset,
      0 -0.1em 0 #722257 inset,
      0 0.1em 0 #847a62 inset,
      -0.1em 0 0 #847a62 inset,
      0 -0.1em 0 #0000001f,
      0 0.1em 0 #0000007f,
      -0.1em -0.1em 0 0.1em #ffffff7f inset;
  }
  input {
    box-shadow:
      0.1em 0 0 #2726267f inset,
      -0.1em 0 0 #27262600 inset,
      0 0.1em 0 #afa490 inset,
      0 -0.1em 0 #0000001f,
      0 0.2em 0.5em #0000007f,
      0 -0.1em 0 #926086 inset,
      -0.1em -0.2em 0 #ffffff7f inset;
  }
  input:checked {
    box-shadow:
      0.1em 0 0 #272626af inset,
      -0.1em 0 0 #272626af inset,
      0 0.1em 0 #847a62 inset,
      0 -0.1em 0 #0000007f,
      0 0.1em 0 #0000007f,
      0 -0.1em 0 #722257 inset,
      -0.1em -0.2em 0 #ffffff7f inset;
  }
}
